<div class="body">
    <div class="datos">
        <div class="buscador">
            <label for="cliente">Cliente: </label>
            <select #select name="Juan Perez" id="cliente" (click)="ver()">
                <option *ngFor="let item of clientes" value="{{item._id}}">{{item.name +' '+ item.lastname}}</option>
            </select>
            <button (click)="nuevo()">Nuevo</button>
        </div>
        <form class="cliente" [formGroup]="formCliente" *ngIf="!seleccionado">
            <div class="form-block">
                <label for="nombre">Nombre:</label>
                <input formControlName="name" type="text" id="nombre">
            </div>
            <div class="form-block">
                <label for="apellido">Apellido:</label>
                <input formControlName="lastname" type="text" id="apellido">
            </div>
            <div class="form-block">
                <label for="telefono">Teléfono:</label>
                <input formControlName="cellphone" type="text" id="telefono">
            </div>
            <div class="form-btn">
                <button [disabled]="formCliente.invalid" (click)="newCliente()">Guardar cliente</button>
            </div>
        </form>

        <form class="cliente" *ngIf="seleccionado">
            <div class="form-block">
                <label for="nombre">Nombre:</label>
                <input type="text" value="{{seleccionado.name}}" disabled id="nombre">
            </div>
            <div class="form-block">
                <label for="apellido">Apellido:</label>
                <input type="text" value="{{seleccionado.lastname}}" disabled id="apellido">
            </div>
            <div class="form-block">
                <label for="Email">Email:</label>
                <input type="text" value="{{seleccionado.email}}" disabled id="Email">
            </div>
            <div class="form-block">
                <label for="telefono">Teléfono:</label>
                <input type="text" value="{{seleccionado.cellphone}}" disabled id="telefono">
            </div>
        </form>
        <div class="venta">
            <div class="detalles">
                <div class="productos">
                    <form [formGroup]="formProducto">
                        <div class="form-block">
                            <label for="Producto">Producto:</label>
                            <input formControlName="producto" type="text" id="Producto">
                        </div>
                        <div class="form-block">
                            <label for="Cantidad">Cantidad:</label>
                            <input formControlName="cantidad" type="number" id="Cantidad">
                        </div>
                        <div class="form-block">
                            <label for="Precio">Precio unitario:</label>
                            <input formControlName="precio" type="number" id="Precio" placeholder="$">
                        </div>
                        <div class="btn">
                           <button [disabled]="formProducto.invalid" (click)="agregar()">Agregar</button> 
                        </div>
                        
                        <div class="bloquear" *ngIf="!seleccionado"></div>
                    </form>
                    <div class="lista" #pdf>
                        <div class="cabecera">
                            <h2>María Grande Repuestos</h2>
                            <h3>{{fecha}}</h3>
                        </div>
                        <table>
                            <tr>
                              <th>Cantidad</th>
                              <th>Detalles</th>
                              <th>Precio unitario</th>
                              <th>Total</th>
                            </tr>
                            <tr *ngFor="let item of compra">
                              <td>{{item.cantida}}</td>
                              <td>{{item.detalle}}</td>
                              <td>{{item.precioU | currency}}</td>
                              <td>{{item.precioT | currency}}</td>
                              <button title="Eliminar" (click)="eliminar(item.num)"><i class="icofont-ui-delete"></i></button>
                            </tr>
                        </table>
                        <div class="total">
                            <ng-container *ngIf="total > 0">
                                <h3>Total: {{total | currency}}</h3>
                            
                                <h3>Entrega: $ <input name="entrega" [(ngModel)]="entrega" type="number"></h3> 
                            </ng-container>
                            
                            <ng-container *ngIf="entrega < total">
                                <h3>Debe: {{total - entrega | currency}}</h3>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="finalizar" *ngIf="total > 0">
            <button (click)="imprimir()">Finalizar compra</button>
        </div>
    </div>
    
</div>
