.body{
    width: 100%;
    display: flex;
    justify-content: center;
}
.body .datos{
    border: solid .7px #fff;
    width: 80%;
    margin: auto;
    background: #fff;
}
.datos h2, .buscador{
    padding: 10px;
}
.body .datos .deudores{
    margin: 10px 0px 20px 0px;
    padding: 10px;
}
.pago p{
    text-align: right;
    padding: 10px 0px;
}
.pago span{
    margin: 20px 0px;
}
.pago input{
    border: none;
    outline: none;
    border-bottom: solid .7px var(--color1);
    padding: 5px;
    max-width: 100%;
}
.pago button{
    width: 100%;
    color: #fff;
    background: #000;
    padding: 10px 0px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
}
