div{
    background: var(--color1);
}
div button{
    color: #fff;
    background: #000;
    padding: 10px;
    border-radius: 50%;
    border: none;
    outline: none;
    position: absolute;
    right: 10px;
    top: 30px;
    cursor: pointer;
    transition: all .6s;
    text-transform: uppercase;
}
div button:hover{
    filter: brightness(2);
}